
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* as coisas marcadas como !important surgiram da necessidade de sobreescrever "element.style" */

html,
body,
section,
div,
h1,
input,
button,
p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  height: 100vh;
  color: white;
  background-color: #221d47;
  font-family: 'Lexend Deca', sans-serif;
}

input[type="text"], input[type="number"] {
  border: none;
  border-radius: 0.2em;
  font-size: 1.4em;
  font-weight: 700;
  color: #221d47;
  transition: 0.2s;
  border: white solid 3px;
  font-family: 'Lexend Deca', sans-serif;
}

input[type="text"]{  
  padding: 1em;
  width: calc(100% - 82px);    
  text-align: center;
}

input[type=number]{
  padding: 1em 0px 1em 3px;
  width: 78px;    
  text-align:center;
}

input[type=number]::-webkit-inner-spin-button {
  margin-right: 5px;
  opacity: 1;
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  border: #5a4bce solid 3px;
}

h1 {
  margin-bottom: 2em;
  font-weight: 400;
}

button {
  margin: 0.8em auto 0 auto;
  border: none;
  border-radius: 0.2em;
  display: block;
  width: 100%;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1.8em;
  background-color: #5a4bce;
  color: white;
  transition: 0.2s;
  font-family: 'Lexend Deca', sans-serif;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 1;
  width: 90%;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-content: center;
  width: 40vw;
  height: 100%;
  margin: auto;
}

.painel {
  margin: 0 0 5em 0;
  width: 100%;
}

.painel img {
  width: 50%;
  margin-bottom: 1em;
}

.painel p {
  height: 2.6em;
  font-size: 1.5em;
  padding: 0.7em;
  margin: 2em 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox #names {
  margin-right: 0.5em;
}

.info {
  margin: 0;
}

.info a {
  color: #ffff00;
}

.ui-dialog-titlebar, #dialog{
  font-family: "Lexend Deca", sans-serif;
}

.ui-widget-header {
  background: white !important;
  border: 1px solid white !important;
}

.ui-dialog-titlebar {
  color: #221d47;
  font-weight: bold;
  text-align: left;
  padding-left: 5px !important;
}

.ui-dialog-content{
  min-height: auto !important;
}

#dialog {
  border: 0px solid #5a4bce;
  background-color: #5a4bce;
  color: white;
  text-align: center;
}

#message {
  display: none;
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.2s;
}

#message p {
  font-size: 2em;
  margin-bottom: 0.5em;
  padding: 0 2em;
}

#message #message-window {
  width: 40vw;
  transform: scale(0, 0);
  padding: 2em;
  background-color: #221d47;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

#message .closer {
  text-align: right;
  font-size: 2em;
  cursor: pointer;
  margin-right: 0.2em;
  transition: 0.2s;
  width: 1em;
  align-self: flex-end;
}

#message .closer:hover {
  color: #5a4bce;
}

/* @media (max-width: 830px){
  .flexbox {
    display: inline-block;
  }
  input#quant {    
    margin-top: 10px;
  }
  input#names{
    width: 100%
  }
}

@media (min-width: 909px){
  .container {
    width: 454.5px;
  }
} */